<% if user_signed_in? %>
  <div>
    <ul>
      <li>
        <div id="welcome_user">Welcome, <%= current_user.name -%></div>
        <% if !(ENV['SCHOOLOGY_CONSUMER_KEY'].present? && ENV['SCHOOLOGY_CONSUMER_SECRET'].present?) %>
          <div id="change_password"><%= link_to 'Change password', edit_user_registration_path%></div>
        <% end %>
      </li>

      <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete,:class=>'logout_btn'%></li>
    </ul>
  </div>
<% elsif @user && !@user.invited_to_sign_up? %>
  <div class="login_container">
    <% if ENV['SCHOOLOGY_CONSUMER_KEY'].present? && ENV['SCHOOLOGY_CONSUMER_SECRET'].present? %>
      <%= link_to "Sign in with Schoology", omniauth_authorize_path('user', 'schoology'), :class => 'schoology_login_btn' %>
      <div style="clear: both">
        <p id="not_schoology">
          <a href="/users/sign_in" title="Not a Schoology user?">Not a Schoology user?</a>
        </p>
      </div>
    <% else %>
      <%= form_for @user, :method => 'post', :url => user_session_path do |f| -%>
        <div class="input_bg">
          <label for="user_email">Login:</label>
          <%= f.text_field :email, :placeholder => 'your email address' -%>
        </div>
        <div class="input_bg">
          <label for="user_password">Password:</label>
          <%= f.password_field :password, :placeholder => 'your password' -%>
        </div>
        <%= f.submit "Login", :class => "login_btn" %>
        <div>
          <p id="forgot">
            <a href="/users/password/new" title="Forgot Password">Forgot Password?</a>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
