<% if user_signed_in? %>
  <ul>
    <li>Welcome, <%= current_user.name -%></li>
    <li><%= link_to 'Logout', '/users/sign_out/',:class=>'logout_btn'%></li>
  </ul>
  </div>
<% else %>
  <div class="login_container">
    <label>Log in:</label>
    <% form_for :user, @user, :method => 'post', :url => new_user_session_path do |f| -%>
      <div class="input_bg"> 
        <%= f.text_field :email -%>
      </div>
      <div class="input_bg"> 
        <%= f.password_field :password -%>
      </div>
        <%= f.submit "Login", :class => "login_btn" %>
        <div>
        </div>
    <% end %>
  </div>
<% end %>