<% if user_signed_in? %>
  <div>
    <ul>
      <li>
        <div id="welcome_user">Welcome, <%= current_user.name -%></div>
        <div id="change_password"><%= link_to 'Change password', edit_user_registration_path%></div>
      </li>

      <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete,:class=>'logout_btn'%></li>
    </ul>
  </div>
<% elsif @user && !@user.invited_to_sign_up? %>
  <div class="login_container">
    <label>Login:</label>
    <%= form_for @user, :method => 'post', :url => user_session_path do |f| -%>
      <div class="input_bg">
        <label id="emaillabel" for="user_email" onclick="this.hide();$('user_email').focus()">your email address</label>
        <%= f.text_field :email, :onfocus => "$('emaillabel').hide();", :onblur => "if (this.value==''){$('emaillabel').show();}" -%>
      </div>
      <div class="input_bg">
        <label id="passwordlabel" for="user_password" onclick="this.hide();$(user_password).focus()">your password</label>
        <%= f.password_field :password, :onfocus => "$('passwordlabel').hide();", :onblur => "if (this.value==''){$('passwordlabel').show();}" -%>
      </div>
        <%= f.submit "Login", :class => "login_btn" %>
        <div>
          <p id="forgot"><a href="/users/password/new" title="Forgot Password">Forgot Password?</a></p>
        </div>
    <% end %>
  </div>
<% end %>