<div class="content_details bg_change">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="admin_panel">
        <h2>Accept the invitation of <%= @user.first_name %> <%= @user.last_name %> (<%= @user.email %>)</h2>

        <%= form_for @user, :url => admin_accept_user_invitation_url, :html => { :method => :patch } do |f| %>
          <%= f.error_messages %>
          <%= f.hidden_field :invitation_token %>

          <p><%= f.label :password %></p>
          <div class="input_bg">
            <p><%= f.password_field :password %></p>
          </div>

          <p><%= f.label :password_confirmation %></p>
          <div class="input_bg">
            <p><%= f.password_field :password_confirmation %></p>
          </div>

          <div class="button">
            <p><%= f.submit "Submit",:class=>"login_btn" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
