<div class="content_details bg_change">
  <div class="top_curv">
    <div class="bottom_curv">  
      <div class="admin_panel">
        <h2>Sign up</h2>
        <fieldset>
        <%= form_for resource_name, resource, :url => registration_path(resource_name) do |f| -%>
          <%= f.error_messages %>

        	<p><%= f.label :first_name %></p>
          <div class="input_bg">
        	  <p><%= f.text_field :first_name %></p>
        	</div>
        	<p><%= f.label :last_name %></p>
          <div class="input_bg">        	
        	  <p><%= f.text_field :last_name %></p>
        	</div>

          <p><%= f.label :email %></p>
          <div class="input_bg">          
            <p><%= f.text_field :email %></p>
          </div>

          <p><%= f.label :password %></p>
          <div class="input_bg">          
            <p><%= f.password_field :password %></p>
          </div>

          <p><%= f.label :password_confirmation %></p>
          <div class="input_bg">          
            <p><%= f.password_field :password_confirmation %></p>
          </div>
          <div class="button">
            <p><%= f.submit "Sign up",:class=>"login_btn" %></p>
          </div>
        <% end -%>
        </fieldset>
        <%= render :partial => "shared/devise_links" %>
      </div>
    </div>
  </div>
</div>