<style>object, embed{ position:absolute; top:0; left:0; z-index:999;}</style> 
<script type="text/javascript">
  $j(document).ready(function(){
   $j('#thumbnail-time-code-show').click(function(){
     $j('#thumbnail-image').hide();
     $j('#thumbnail-time-code').show();
   });
   $j('#thumbnail-file-show').click(function(){
     $j('#thumbnail-image').show();
     $j('#thumbnail-time-code').hide();
   });
  });
</script>

<div class="content_details">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="upload_video">
        <% form_for [@video_paper, @video],:html => { :multipart => true } do |f| %>
          <fieldset>
          <div class="left_details">
            <div class="creat_video_details">
              <h2><%=@video_paper.title%></h2>
              <div class="create_video">
                <h3>Select Video</h3>
                <div id="flashContainer">
                  <div class="file_select"> <a href="#" class="browse_select_btn">Browse &amp; Select</a>
                    <p><span id="selected-title" style="display:none"> Selected Video: <span id="title-text">Filename selected</span></span></p>
                    <%= kaltura_upload_embed %>                   	
                  </div>                
                </div>
                <%= f.error_messages %>                
                <div class="file_select" id="progressBar" style="display:none">
                  <p><div id="flash_notice" class="success">Uploading to the server now...</div></p>
                	<p><span class="progressBar" id="progress"></span></p>
                  <p>Please don't navigate away from this page.  The video upload will be lost!</p>                	
              	</div>  
            	  <div class="file_select" id="upload-complete" style="display:none">
            			<p><div id="flash_notice" class="success">Processing...</div></p>            	    
            			<p><img src="/images/spinner.gif" alt="Loading" /></p>
            			<p>Please don't navigate away from this page.  The video upload will be lost!</p>
            		</div>
            	  <div id="javascript_errors"></div>
            		<div id="finalize" style="display:none" class="file_select">
            			<p><div id="flash_notice" class="success">Upload complete!</div></p>
            		</div>              	
              </div>
              <div class="vedio_select">              
                <h3 class="bulet2">Video Status</h3>
                <span class="clear"></span>
                <p class="space">
                   <%= f.radio_button :private, true %>
                  Private</p>
                <p>
                  <%= f.radio_button :private, false,:checked=>true %>
                  Public</p>
              </div>
              <div class="textarea_box">
                <h3 class="bulet3">Additional Information</h3>
                <div class="textarea_content">
                  <div id="thumbnail-image">
                    <%=f.file_field :thumbnail%> <label class="space"><img src="/images/bulb.gif" alt="" />If you do not have a thumbnail, one will automatically be created from the video. You can <a id="thumbnail-time-code-show"href="#" >specify a point in time in your video to use as your thumbnail</a> instead.</label>
                  </div>
                  <div id="thumbnail-time-code" style="display:none">
              			<%= f.text_field :thumbnail_time %>
                           <label class="space"><img src="/images/bulb.gif" alt="" />Enter a point in the video in seconds, or use a time format like <strong>hh:mm:ss</strong>. <a id="thumbnail-file-show" href="#" >Upload a file instead</a>.</label>                   
                  </div>
                  <%= f.hidden_field :entry_id %>
                </div>
                <% if @video.entry_id.nil?%>
            			<% disabled = true %>
            		<% else %>
            			<% disabled = false%>
            		<% end %>
            		<br style="clear: both;" /><br />
                <div class="button"> <span>
		<%= f.submit "Upload video", :id=>"button_submit",:class=>"upload_btn",:disabled=>disabled%> | <%= link_to("Cancel",@video_paper,:method=>'get') %>                  
                  </span> </div>
              </div>
            </div>
          </div>
          </fieldset>
        <% end %>
      </div>
      <span class="clear"></span> </div>
  </div>
</div>