<style>object, embed{ position:absolute; top:0; left:0; z-index:999;}</style>

<div class="content_details">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="upload_video">
        <div class="left_details">
          <div class="creat_video_details">
            <h2><%=@video_paper.title%></h2>
            <div class="create_video">
              <h3>Select Video</h3>
              <div class="file_select">
                <% if @video.upload_uri %>
                  <div class="upload_preamble">
                    A video has already been uploaded (<strong><span id="video_filename"><%= @video.upload_filename %></span></strong>).
                    <% if @video.processed %>
                      This video has been processed.
                    <% else %>
                      This video is still processing.
                    <% end %>
                    <br/>
                    Use the button below to replace it with another video.
                  </div>
                <% end %>
                <%= s3_uploader_form id: "s3-uploader",
                                     max_file_size: 2.gigabytes do %>
                  <%= hidden_field_tag  "Content-Type", "" %> <%# Needed by s3 but not added by s3_uploader_form helper %>
                  <%= hidden_field_tag  "do-not-serialize-file", "" %> <%# This flags code in application.js to strip out the file when the form is serialized - if it isn't stripped it won't upload to s3  %>
                  <fieldset>
                    <%= file_field_tag :file, multiple: false, data: { url: S3DirectUpload.config.url } %>
                    <script id="template-upload" type="text/x-tmpl">
                    <div id="file-{%=o.unique_id%}" class="upload">
                      <div>Uploading to the server now...</div>
                      {%=o.name%}
                      <div class="progress"><div class="bar" style="width: 0%"></div></div>
                      <div>Please do not navigate away from this page. The video upload will be lost!</div>
                    </div>
                    </script>
                    <div class="note">
                      <img src="/images/bulb.gif" alt="" />Do not upload video without signed permissions from students.
                    </div>
                  </fieldset>
                <% end %>
              </div>
              <div id="video-selected" class="textarea_content" style="display:none">
                <span id="selected-title">Selected Video: <span id="title-text">Filename selected</span></span>
                <a href="#" id="change-video">Select a different video...</a>
              </div>
            </div>
            <%= form_for [@video_paper, @video],:html => { :multipart => true } do |f| %>
              <%= hidden_field_tag  "video[upload_uri]", @video.upload_uri %>
              <fieldset>
          			<% disabled = @video.upload_uri.nil? %>
            		<br style="clear: both;" /><br />
                <div class="button">
                  <span>
  	                <%= f.submit "Save video", :id=>"button_submit",:class=>"upload_btn",:disabled=>disabled%>
                    | <%= link_to("Cancel",@video_paper,:method=>'get') %>
                  </span>
                  <div class="disabled_button_msg" id="button_disabled_no_video" style="<%= disabled ? '': 'display:none' %>">No video selected.</div>
                  <div class="disabled_button_msg" id="button_disabled_video_uploading" style="display:none">Your video is still uploading.</div>
                </div>
              </fieldset>
              <%= f.error_messages %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="clear"></span> </div>
  </div>
</div>
