<div class="content_details bg_change">
  <div class="top_curv">
    <div class="bottom_curv">  
      <div class="admin_panel">
        <h2>Send an invitation</h2>

        <% form_for resource_name, resource, :url => invitation_path(resource_name) do |f| %>
          <%= f.error_messages %>
        	<p><%= f.label :first_name %></p>
        	<div class="input_bg">
        	  <p><%= f.text_field :first_name %></p>
        	</div>
        	<p><%= f.label :last_name %></p>
        	<div class="input_bg">
        	  <p><%= f.text_field :last_name %></p>
        	</div>
          <p><%= f.label :email %></p>
          <div class="input_bg">
            <p><%= f.text_field :email %></p>
          </div>
          <div class="button">
            <p><%= f.submit "Invite",:class=>"login_btn" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>