<div id="messages">
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :class => "#{name} msg" %>
  <%- end -%>
</div>
<div id="user-shared">
<% unless @shared_users.empty? %>
  <h4>Shared With:</h4>
	<ul>
    <% @shared_users.each do |shared_user| %>
    	  <li>
    	    <h5><%= shared_user.user.name%></h5>
    	    <p><%= shared_user.user.email%></p>
    	    <a title="unshare" class="unshare" href="<%= unshare_video_paper_path(@video_paper)-%>?user_id=<%=shared_user.user_id-%>">unshare</a>
        </li>
    <% end %>
	</ul>
<% end %>
</div>

<script type="text/javascript">
  // resize the modal when the content has changed.
  $j.fancybox.resize()  
</script>