<div class="content_details">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="intirior_details">
        <% form_for(@video_paper) do |f| %>
          <fieldset>
          <div class="left_details">
            <div class="creat_video_details">
              <div class="create_video">
                <%= f.error_messages %>
                <h3>Edit <%= @video_paper.title%></h3>
                <div class="file_select">
                  <label>Name:&nbsp;</label>
                  <%=f.text_field :title%>
                </div>
              </div>
              <div class="vedio_select">
                <h3 class="bulet2">Edit...</h3>
                <span class="clear"></span>
              </div>
              <div class="textarea_box">
                <div class="button"> <span>
                  <%= f.submit 'Upload a video',:controller=>'videos', :action=>'new',:class=>"upload_btn" %>
                  </span> <span>
                  <%= f.submit 'Enter in notes',:class=>'upload_btn'%>                  
                  </span> </div>
              </div>
            </div>           
          </div>
          <div class="right_details">
            <div class="status_box">
              <h3>Status</h3>
              <p>crap goes here when we get the html.</p>
            </div>
          </div>
          </fieldset>
        <% end %>
      </div>
      <span class="clear"></span> </div>
  </div>
</div>

