<div class="modal_video_wrapper">
  <script type="text/javascript">
  VPB.SectionTimeData = [];
  <% @video_paper.sections.each_with_index do |section, index| %>
  VPB.SectionTimeData[<%=index-%>] =
  {
    length:<%= @video_paper.video.duration.nil? ? 0 : @video_paper.video.duration-%>,
    start:<%= section.video_start_time.blank?     ? 0 : section.video_start_time-%>,
    stop:<%= section.video_stop_time.blank?       ? (@video_paper.video.duration || 0) : section.video_stop_time-%>
  };
  <% end %>
  </script>
<% if @video_paper.video%>
  <%= render :partial=> 'video_embed_duration_modal'%>
<% end %>
<div id="duration_buttons">
  <button id="duration_play" class="highlight_btn" style="width: 100px">Play Range</button>
  <button id="duration_pause" class="highlight_btn" style="width: 100px" style="display: none;">Pause</button>
  <div id="position_slider"></div>
  <span id="duration_position"></span>
</div>
<div class="select_range_label">
  Select a timing range
</div>
<div id="duration_slider_wrapper">
  <div id="duration_slider"></div>
</div>
<%= form_for @section, :url=> update_section_duration_video_paper_path do |f| %>
<fieldset>
  <%= f.hidden_field :id%>
  <div class="timer_ranges">
    <div class="timer_range">
      <%= f.label :video_start_time, "Start Time (HH:MM:SS)"%>
      <%= f.text_field :video_start_time,:value=> @section.to_timestamp(@section.video_start_time.blank? ? 0 : @section.video_start_time)  %>
    </div>
    <div class="timer_range">
      <%= f.label :video_stop_time, "Stop Time (HH:MM:SS)"%>
      <%= f.text_field :video_stop_time,:value=> @section.to_timestamp(@section.video_stop_time.blank? ? (@video_paper.video.duration || 0) : @section.video_stop_time)  %>
    </div>
  </div>

  <div class="button">
    <%= f.submit "Save timings",:class=>'highlight_btn'%>
  </div>
</fieldset>
<% end %>
</div>
