<div class="span-18 colborder">
  <h1>Step 1: Edit <%=@video_paper.title %></h1>
  <% form_for(@video_paper) do |f| %>
    <%= f.error_messages %>
</div>
<div class="span-18 colborder">
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
  <h1>Step 2: Edit...</h1>
  <div class="span-8 colborder">
      <h3>Uploading a classroom video</h3>
      <p>I bet this is about as exciting as waffles.</p>
        <%= f.submit 'Upload a video',:controller=>'videos', :action=>'new' %>
      </p>
  </div>
  <div class="span-8 last">
    <h3>Entering classroom notes</h3>
    <p>much less exciting than waffles.</p>
    <%= f.submit 'Enter in notes'%>

  </div>
      <% end %>
</div>
<div class="span-5 last">
  <h4>What is a VideoPaper?</h4>
  <p>Probably has nothing to do with waffles sadly.</p>
</div>

<%= link_to 'Show', @video_paper %> |
<%= link_to 'Back', video_papers_path %>