<div class="content_details bg_change">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="my_video_papers">
        <div class="sort">
          <p>
            <strong>Sort by: Title</strong>
            <span class="margin">
              <%= link_to pick_arrow("title_asc",:position=>"top"), {:controller=>"video_papers",:action=>"index",:order_by=>'title_asc'} %>
              <%=link_to pick_arrow("title_desc") ,{:controller=>"video_papers",:action=>"index",:order_by=>'title_desc'} %>
            </span>
            <strong>Date</strong>
            <span>
              <%=link_to pick_arrow("date_asc",:position=>"top"), {:controller=>"video_papers",:action=>"index",:order_by=>'date_asc'}%>
              <%=link_to pick_arrow("date_desc"), video_papers_path %>              
            </span>
          </p>
        </div>
        <h1 style="margin-left:15px">Listing all Video Papers</h1>

          <% @video_papers.each do |video_paper| %>
            <div class="video_row">
              <div class="span-4">
                <div class="photo"><%= get_video_paper_thumbnail(video_paper)%></div>
              </div>
              <div class="details">
                <h3><%= video_paper.title %></h3>
                <p><strong>Created:</strong> <%= video_paper.format_created_date %><br/>
                <strong>Status:</strong> <%= video_paper.status.titlecase%></p>
                <h3><%=h video_paper.title %><h3>
                <ul>
                  <li class="view_edit_btn"><span><%= link_to 'View', video_paper %> <%= link_to 'Edit', edit_video_paper_path(video_paper) %> <a class="sharing_btn" href="<%= share_video_paper_path(video_paper) %>" class="last">Sharing</a></span></li>
                  <% if video_paper.published? %>
                    <li class="unpublish_btn"><span><%=link_to "Unpublish", unpublish_video_paper_path(video_paper)%></span></li>
                  <% else%>
                    <li class="unpublish_btn"><span><%= link_to "Publish",publish_video_paper_path(video_paper)%></span></li>
                    <li class="unpublish_btn"><span><%= link_to 'Remove', video_paper, :confirm => 'Are you sure?', :method => :delete , :title => "Remove" %></span></li>
                  <%end%>                  
                </ul>
              </div>
            </div>
          <% end %>
            <div class="paging"><ul><%= will_paginate @video_papers, 
              :next_label=> image_tag('next_arrow.gif'),
              :previous_label=>image_tag('pre_arrow.gif')%></ul></div>

          </div>
      </div>
    </div>
  </div>
</div>