<script type="text/javascript">
	$j(function() {
		
		$j("#various, #various1, #various2, #various3, #various4").fancybox({
			'transitionIn'	: 'elastic',
			'transitionOut'	: 'elastic',
			'showCloseButton' : false,
			'scrolling'	:	'no'
		});

	});
</script>

<div class="content_details bg_change">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="my_video_papers">
        <div class="sort">
          <p><strong>Sort by: Title</strong><span class="margin"><a href="#"><img src="/images/top_arrow_active.gif" alt="" /></a><a href="#"><img src="/images/bottom_arrow_normal.gif" alt="" /></a></span><strong>Date</strong><span><a href="#"><img src="/images/top_arrow_normal.gif" alt="" /></a><a href="#"><img src="/images/bottom_arrow_normal.gif" alt="" /></a></span></p>
        </div>
        <div class="video_row">
          <div class="photo"> <img src="/images/big_video1.jpg" alt="" /> </div>
          <div class="details">
            <h3>Title of a VideoPaper that can wrap to multiple lines if it is long.</h3>
            <p><strong>Status:</strong> In Progress</p>
            <ul>
              <li class="view_edit_btn"> <span> <a href="#">View</a> <a href="#">Edit <img src="/images/btn_arrow.gif" alt="" /></a> <a id="various" href="/video_papers/1/share" class="last">Sharing</a> </span> </li>
              <li class="unpublish_btn"> <span> <a href="#">unpublish</a> </span> </li>
            </ul>
          </div>
        </div>
        <% @video_papers.each do |video_paper| %>
          <div id="<%=video_paper.title.downcase.gsub(" ","-")%>" class="video_row">
            <div class="span-4">
              <div class="photo"><%= get_video_paper_thumbnail(video_paper)%></div>
            </div>
            <div class="details">
              <h3><%= video_paper.title %></h3>
              <p><strong>Created:</strong> <%= video_paper.format_created_date %><br/>
              <strong>Status:</strong> <%= video_paper.status.titlecase%></p>
              <ul>
                <li class="view_edit_btn"><span><%=link_to "View",video_paper_path(video_paper)%> <%= link_to "Edit",edit_video_paper_path(video_paper)%> <a id="various" href="<%= share_video_paper_path(video_paper) %>" class="last">Sharing</a></span></li>
                <% if video_paper.published? %>
                  <li class="unpublish_btn"><span><%=link_to "Unpublish", unpublish_video_paper_path(video_paper)%></span></li>
                <% else%>
                  <li class="unpublish_btn"><span><%= link_to "Publish",publish_video_paper_path(video_paper)%></span></li>
                  <li class="unpublish_btn"><span><%= link_to 'Remove', video_paper, :confirm => 'Are you sure?', :method => :delete %></span></li>
                <%end%>
              </ul>
            </div>
            <hr/>      
          </div>
        <% end %>        
        <%= will_paginate @video_papers %>        
         <div class="paging">
          <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li>...</li>
            <li><a href="#">21</a></li>
            <li><a href="#">22</a></li>
            <li><a href="#"><img src="/images/next_aroow.gif" alt=""  /></a></li>
          </ul>
        </div>
      </div>
      <span class="clear"></span> </div>
  </div>
</div>


<div style="display:none;">

</div>