<div class="span-24 last">
  <% @video_papers.each do |video_paper| %>
    <div id="<%=video_paper.title.downcase.gsub(" ","-")%>" class="span-24 last">
      <div class="span-4">
        <%= get_video_paper_thumbnail(video_paper)%>
      </div>
      <div class="span-16 last">
        <h2><%= video_paper.title %></h2>
        <p>Status: <%= video_paper.status%></p>
        <p><%=link_to "View",video_paper_path(video_paper)%> | <%= link_to "Edit",edit_video_paper_path(video_paper)%> | <%= link_to "Sharing", share_video_paper_path(video_paper) %> | 
          <% if video_paper.published? %>
            <%=link_to "Unpublish", unpublish_video_paper_path(video_paper)%>
          <% else%>
            <%= link_to "Publish",publish_video_paper_path(video_paper)%>
          <%end%>
          </p>
      </div>
      <hr/>      
    </div>
  <% end %>
</div>