<script type="text/javascript">
	$j(function() {

		$j("#various").fancybox({
			'transitionIn'	: 'elastic',
			'transitionOut'	: 'elastic',
			'showCloseButton' : false,
			'scrolling'	:	'no'
		});

	});
</script>

<div class="content_details">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="create_screen">
        <%= form_for(@video_paper) do |f| %>
          <fieldset>
          <div class="left_details">
            <div class="video_row">
              <%= f.error_messages %>
              <h3>Create a New Video Paper</h3>
              <div class="nane">
                <label>Name:&nbsp;</label>
                <div class="input_bg">
                  <%=f.text_field :title%>
                </div>
              </div>
            </div>
            <div class="video_row last">
              <h3 class="bulet2">Start by...</h3>
              <ul>
                <li class="col1">
                  <h4>Uploading a classroom video</h4>
                  <img src="/images/video1.jpg" alt="" />
                  <p>If your classroom video is ready, we recommend starting by uploading and editing your video with our video editing tool. You can then add in your materials later.</p>
                  <p class="upload_btn">
                  <%= f.submit 'Upload a video',:controller=>'videos', :action=>'new',:class=>"upload_btn" %>  
                  </p>
  
                </li>
                <li class="col2"> <span>or</span>
                  <h4>Entering classroom notes</h4>
                  <img src="/images/document.jpg" alt="" />
                  <p>If your video isn't ready yet, or if you just want to start entering in classroom notes ahead of time, you can enter them in now and come back and add your video later. Click the pencil on each tab that you wish to edit.</p>
                    <%= f.submit 'Enter in notes',:class=>'upload_btn'%>
                   </li>
              </ul>
            </div>
          </div>
          <div class="right_details">
            <div class="content">
              <h3>What is VideoPaper?</h3>
              <p>A VideoPaper is a tool for putting your classroom videos online, along with notes and accompanying documents, and allowing them to be shared with other educators to be used as a professional learning tool.</p>
              <h3>VideoPaper Builder Help</h3>
              <p>The following links will open video tutorials in a new window.</p>
              <ul id="help-links" class="sidebar-list">
                <li><a target="_blank" href="<%= help_video_path 'uploading_video'%>" title="Uploading Video">Uploading Video</a> (4:28)</li>
                <!--  The following videos include the usage of the wysiwyg editor which has changed since they were made
                <li><a target="_blank" href="<%= help_video_path 'text_commentary'%>" title="Adding Text Commentary">Adding Text Commentary</a> (1:39)</li>
                <li><a target="_blank" href="<%= help_video_path 'linking'%>" title="Linking to Video Sections">Linking to Video Sections</a> (2:30)</li>
                <li><a target="_blank" href="<%= help_video_path 'images'%>" title="Adding Images">Adding Images</a> (1:13)</li>
                 -->
                <li><a target="_blank" href="<%= help_video_path 'publishing'%>" title="Publishing">Publishing</a> (1:43)</li>
              </ul>
            </div>
          </div>
          </fieldset>
        <% end %>
      </div>
      <span class="clear"></span> </div>
  </div>
</div>

<div style="display: none;">
  <div id="fancy_box">
    <div id="add_classroom_notes">
      <form action="">
        <fieldset>
         <div><div class="close"><a href="#" onclick="javascript:parent.$j.fancybox.close();"><img src="/images/clear.gif" alt="" /></a></div></div>
        <h3>&lt;Name of VideoPaper that could quite possibly span multiple lines&gt;</h3>
        <h4>Set start and stop times for &lt;Page Name&gt;</h4>
        <div class="video"><img src="/images/add_classroom_notes_video1.jpg" alt="" /></div>
        <div class="metter"><img src="/images/metter.gif" alt="" /></div>
        <div class="row">
          <div class="col1">
            <label>Start Time (HH:MM:SS)</label>
            <div class="time_input_bg">
              <input type="text" name="" value="" />
            </div>
          </div>
          <div class="col2">
            <label>End Time (HH:MM:SS)</label>
            <div class="time_input_bg">
              <input type="text" name="" value="" />
            </div>
          </div>
        </div>
        <div class="row">
          <input type="button" name="" value="Discard" class="discard" onclick="javascript:parent.$j.fancybox.close();" />
          <input type="button" name="" value="Save Timings" class="save" />
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>