<div id="fancy_box">
  <div id="my_video_papers_lightbox">
    <h3>Sharing Settings for <%= @video_paper.title%></h3>
    <div id="shared_user_block">
      <%= render :partial=> "shared_users" %>
    </div>
    <%= form_for @share,:url=>shared_video_paper_path(@video_paper),:html=>{:method=>"patch"},:remote=>true do |f| %>
      <fieldset>
      <div>
        <div class="close"><a href="#" onclick="javascript:parent.$j.fancybox.close();"><img src="/images/clear.gif" alt="" /></a></div>
      </div>
      <label>Share With:</label>
      <div class="email_input_bg">
        <%= f.text_field :user_id %>
        <p>Please enter the user's email address!</p>
      </div>
      <label>Add a Note (optional):</label>
      <%= f.text_area :notes %>
      <div class="row">
        <input type="button" name="" value="Cancel" class="cancel" onclick="javascript:parent.$j.fancybox.close();" />
        <%= f.submit 'Share' ,:class=>'share'%>
      </div>
      </fieldset>
    <%end%>
  </div>
</div>
