<script type="text/javascript">
VPB.SectionTimeData = [];
<% @video_paper.sections.each_with_index do |section, index| %>
VPB.SectionTimeData[<%=index-%>] =
{
  start:<%= section.video_start_time.blank?    ? 0 : section.video_start_time-%>,
  stop:<%= section.video_stop_time.blank?      ? 0 : section.video_stop_time-%>

};
<% end %>
<% unless @video_paper.video.nil? %>
VPB.video = true;
<% end %>
</script>

<div class="content_details bg_change">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="view_video">
        <h2><%=@video_paper.title%> 
          <% if owner_or_admin? %>
            <%= link_to image_tag('big_pencil_icon.png'),edit_video_paper_path(@video_paper)%>
          <% end %>
        </h2>
        <div class="produced_content">
          <p>Produced by <%=h @video_paper.user.name%>, <%= @video_paper.format_created_date %></p>
          <% if @video_paper.video.nil? %>
            <div class="no-video"></div>
          <% else %>
            <div class="video"><%= render :partial=>'video_embed' %></div>
          <% end %>
        </div>
        <div class="inner_blue_tab">
          <div id="tabs" class="top_tab">
            <ul>
              <% @video_paper.sections.each_with_index do |section, index| %>
                <li id="<%= dom_friend :id => section.title %>_tab" class="tab">
                  <a href="#<%= dom_friend :id => section.title %>">
                    <%# note the packed in tags below are necessary to keep the edit-button from 
                        having space between it and the section.title this space causes the button 
                        to wrap to a new line %>
                    <span><%= section.title %><% if owner_or_admin? %><button class="edit-button" id="edit_<%= dom_friend :id => section.title-%>" type="button">
                          <img id="Edit <%=section.title-%> Section" title="Edit <%=section.title-%> Section" src="/images/small_pencil_icon.png" />
                        </button>
                      <%- end -%>
                    </span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          <% @video_paper.sections.each_with_index do |section, index| %>
            <div class="tab_content" id="<%= dom_friend :id => section.title %>">
              <%= form_for section, :url => update_section_video_paper_path(@video_paper) do |f| %>
                <div class="into_content">
                  <div class="section-content content-border">
                    <%=section.content %>
                  </div>

                  <% if owner_or_admin? %>
                    <div class="section-editor content-border">
                      <%= hidden_field :section, :title, :value=> section.title %>
                      <%= f.text_area :content %>
                      <div class="edit-section-toolbar">
                        <%= submit_tag "Save",:id => "save-"+dom_friend(:id => section.title) %>
                        <a href="#" class="cancel-button">Cancel</a>
                        <% unless @video_paper.video.nil? %>
                          <%= link_to "Edit Timing",
                            {
                              :controller=>"video_papers",
                              :action=>"edit_section_duration",
                              :section=> section.title,
                            },
                            :confirm=> "Please ensure you have saved any changes before submitting timing changes.",                        
                            :class=>"timing-button"-%>
                        <% end%>
                      </div><!-- edit-section-toolbar -->
                    </div><!-- section-editor -->
                  <% end # owner_or_admin %>
                </div>
              <% end # edit form %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="clear"></span>
  </div>
</div>