<p>
  <b>Title:</b>
  <%=h @video_paper.title %>
</p>

<% @video_paper.sections.each do |section| %>
  <div id="<%= dom_friend :id => section.title%>">
    <p>Section: <%= section.title %></p>
    <p>Content: <%= section.content %></p>
    <p><%= edit_section_link(:video_paper => @video_paper, :section => section.title, :text => 'Edit') %></p>
  </div>
<% end %>
<%= link_to 'Edit', edit_video_paper_path(@video_paper) %> |
<%= link_to 'Back', video_papers_path %> |
<%= link_to 'Destroy', @video_paper, :method => :delete %>
