<p>
  <b>Title:</b>
  <%=h @video_paper.title %>
</p>

<p><b>Sections:</b></p>
<ul id="sections">
	<% @video_paper.sections.each do |section| %>
	<li><%=h section.title %></li>
	<% end %>	
</ul>
<%= link_to 'Edit', edit_video_paper_path(@video_paper) %> |
<%= link_to 'Back', video_papers_path %> |
<%= link_to 'Destroy', @video_paper, :method => :delete %>