<style type="text/css">
.ui-tabs-panel {text-align:center;height:300px;overflow-y:scroll;width:100%;}
.ui-tabs-selected {font-weight:bold;}
.ui-tabs-hide {display:none;}
.ui-tabs-nav {width:100%;clear:both;display:block;}
.ui-tabs-nav .tab {list-style:none;float:left;width:22%;text-align:center;}
</style>
<script type="text/javascript">
VPB.SectionTimeData = [];
<% @video_paper.sections.each_with_index do |section, index| %>
VPB.SectionTimeData[<%=index-%>] =
{
  start:<%= section.video_start_time.nil?    ? 0 : section.video_start_time-%>,
  stop:<%= section.video_stop_time.nil?      ? 0 : section.video_stop_time-%>

};
<% end %>              
</script>

<div class="content_details bg_change">
  <div class="top_curv">
    <div class="bottom_curv">
      <div class="view_video">
        <h2><%=@video_paper.title%> 
          <% if owner_or_admin? %>
            <%= link_to image_tag('big_pencil_icon.png'),edit_video_paper_path(@video_paper)%>
          <% end %>
        </h2>
        <div class="produced_content">
          <p>Produced by <%=h @video_paper.user.name%>, <%= @video_paper.format_created_date %></p>
          <%= render :partial=>'video_information'%>  
          <div class="video"><%= render :partial=>'video_embed' %>  </div>
        </div>
        <div class="inner_blue_tab">
          <div id="tabs" class="top_tab">
            <ul>
              <% @video_paper.sections.each_with_index do |section, index| %>
                <li id="<%= dom_friend :id => section.title %>_tab" class="tab">
                  <a href="#<%= dom_friend :id => section.title %>">
                    <span>
                      <%= section.title-%>
                      <% if owner_or_admin? %>
                      <button class="edit-button" id="edit_<%= dom_friend :id => section.title-%>" type="button">
                      <img class="edit-button" id="Edit <%=section.title-%> Section" title="Edit <%=section.title-%> Section" src="/images/small_pencil_icon.png" />
                      </button>
                      <% end %>
                    </span>
                  </a>
                </li>
                
              <% end %>
            </ul>
          </div>
          <% @video_paper.sections.each_with_index do |section, index| %>
            <div class="tab_content" id="<%= dom_friend :id => section.title %>">
              <% form_for section, :url => update_section_video_paper_path(@video_paper) do |f| %>
              <div class="into_content">
                <div class="section-content content-border">
                  <%=section.content %>
                </div>
                
                <% if owner_or_admin? %>
                <div class="section-editor content-border">
                  <%= hidden_field :section, :title, :value=> section.title %>
                  <%= f.text_area :content %>
                  <script type="text/javascript">
                    // find the content text area and update it's id to something wysihat can use.
                    // this is needed because wysihat is id dependant, and  rails' text_area formhelper doesn't let you
                    // manipulate ids.s
                    $j('#<%= dom_friend :id => section.title %> form textarea').attr("id", "<%= dom_friend :id => section.title %>-content");

                    // Initialize wysihat editor
                    Event.observe(window, 'load', function() {
                      wysiHatify('<%= dom_friend :id => section.title %>-content',
                                  ['bold', 'italic', 'underline', 'strikethrough',
                                  'h1', 'h2', 'h3', 'p', 'justify_left', 'justify_center',
                                  'insert_ordered_list', 'insert_unordered_list', 
                                  'image', 'undo', 'redo', 'link', 'html', 'videolink']
                                  );
                    });
                  </script>
                  <div class="edit-section-toolbar">
                    <%= submit_tag "Save",:id => "save-"+dom_friend(:id => section.title) %>
                    <a href="#" class="cancel-button">Cancel</a>
                    <%= link_to "Edit Timing",
                      {
                        :controller=>"video_papers",
                        :action=>"edit_section_duration",
                        :section=> section.title
                      },
                      :class=>"timing-button"-%> 
                  </div>
                <% end %><%-# edit form -%>
                </div>
                <% end %><%-# /owner-admin -%>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <span class="clear"></span> </div>
  </div>
</div>