<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'facebox', 'wysihat' %>
    <%= stylesheet_link_tag 'blueprint/screen.css' %>
    <%= javascript_include_tag 'libs' %>
    <%= javascript_include_tag 'jquery.progressbar' %>
    <%= javascript_include_tag 'kaltura_upload' %>
    <%= javascript_include_tag :defaults, 'wysihat_engine' %>
  </head>
  <body>
    <div id="container" class="container">
      <div class="span-24 last">
        <h1>Video Paper Builder!</h1>
        <h4>This is our rad header</h4>
          <% if user_signed_in? %>
        <div class="span-24 prepend-18 last">        
            <p>Welcome, <%= current_user.name%>!
            <%= link_to('Logout', destroy_user_session_path) %></p>
          <% else %>
        <div class="span-24 prepend-22 last">        
            <p><%= link_to('Login', new_user_session_path)  %></p>
          <% end %>
        </div>
        <div class="span-24 last">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "#{name}" %>
        <%- end -%>
        <% if current_user || current_admin %>
          <hr/>
          <p><%=link_to "Authoring >>",new_video_paper_url %> | <%= link_to "My VideoPapers >>", my_video_papers_url %> | <%= link_to "Shared With Me >>",shared_video_papers_url %></p>
        <% end %>    
        <%= yield %>
        </div>
      </div>
      <div id="footer" class="span-24">
        <hr/>
        <h4>This is our rad footer.</h4>
        <p>INTENSE FOOTER CONTENT HERE!</p>
      </div>
    </div>
  </body>
</html>