<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'facebox', 'wysihat' %>
    <%= javascript_include_tag 'libs' %>
    <%= javascript_include_tag 'kaltura_upload' %>
    <%= javascript_include_tag 'wysihat_engine' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <div id="cover">
          <div id="header">
            <div id="main_nav">
              <div class="left_curve">
                <div class="right_curve"> 
                  <ul> 
                    <li><a href="#">About&nbsp;VPB</a></li> 
                    <li><a href="#">The&nbsp;Concord&nbsp;Consortium</a></li> 
                    <li class="last"><a href="#">Help</a></li> 
                  </ul> 
                </div>
              </div>
            </div><!-- main_nav -->
            <div id="logo_login">
              <div id="logo">
                <img src="../images/logo.gif" alt=""  />
              </div> 
              <div id="login"> 
                <form action=""> 
                  <fieldset> 
                    <label>Log in:</label> 
                    <div class="input_bg"> 
                      <input type="text" value="Log In" name="" /> 
                    </div> 
                    <div class="input_bg"> 
                      <input type="text" value="Password" name="" /> 
                    </div> 
                    <input type="button" alt="" value="" name="" class="login_btn" /> 
                    <label class="register"><a href="#">Register</a></label> 
                  </fieldset> 
                </form> 
              </div>
            </div><!-- logo_login -->
          </div><!-- header -->
          <div id="body_container"> 
            <%= yield %>
          </div><!-- body_container -->
        </div><!-- cover -->
        <div id="footer">
          <div class="col1">
            <h3>VideoPaper Builder</h3>
            <ul>
              <li><a href="#">About VPB</a><li>
              <li><a href="#">Help</a><li>
            </ul>
          </div><!-- col1-->
          <div class="col2">
            <h3>The Concord Consortium</h3>
            <ul>
              <li><a href="#">Home </a><li>
              <li><a href="#">Blog</a><li>
              <li><a href="#">Our Work</a><li>
              <li><a href="#">Publications</a><li>
              <li><a href="#">About Us</a><li>
            </ul>
          </div><!-- col2-->
        </div><!-- footer -->
      </div><!-- main -->
    </div><!-- wrapper -->
  </body>
</html>