<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
<title>VideoPaperBuilder</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'libs' %>
  <%= javascript_include_tag 'kaltura_upload' %> 
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'wysihat_engine' %>
  <%= javascript_include_tag 'application' %>
  <!--[if IE 6]>
  <script type="text/javascript" src="/javascripts/jq-png-min.js"></script>
  <script type="text/javascript" src="/javascripts/png.js"></script>
  <![endif]-->
</head>  
<body>
<div id="wrapper">
  <div id="main">
    <div id="cover">
      <div id="header">
        <div id="menu">
          <div class="left_curve">
            <div class="right_curve">
              <ul>
                <li><a href="#">About&nbsp;VPB</a></li>
                <li><a href="#">The&nbsp;Concord&nbsp;Consortium</a></li>
                <li class="last"><a href="#">Help</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo_login">
          <div class="logo"><img src="/images/logo.gif" alt=""  /></div>
          <% if user_signed_in? %>
            <div class="logout">
              <%= render :partial =>'sessions/login'%>
            </div>          
          <% else %>
            <div class="login">
              <%= render :partial =>'sessions/login'%>
            </div>            
          <% end %>
        </div>
      </div>
      <div id="messages">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "#{name} msg" %>
        <%- end -%>
      </div>
      <div id="body_container">
        <% if user_signed_in? %>
        <div id="inner_container">
          <div class="tabs">
            <ul>
              <%= content_tag :li, link_to("<span>Authoring</span>", new_video_paper_path),:class=>is_active?("new") || is_active?("edit")%>
              <%= content_tag :li, link_to("<span>My VideoPapers</span>",my_video_papers_path),:class=>( is_active?("my_video_papers") || my_paper?)%>
              <%= content_tag :li, link_to("<span>Shared With Me</span>",shared_video_papers_path),:class=>(is_active?("shared_video_papers") || shared_paper?)%>
            </ul>
          </div>
        <% end %>
        <%= yield%>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer_inner">
      <div class="col1">
        <h3>VideoPaper Builder</h3>
        <ul>
          <li><a href="#">About VPB</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="col2">
        <h3>The Concord Consortium</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Our Work</a></li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
