<!DOCTYPE html>
<html lang="en">
<head>
<%= stylesheet_link_tag :flutie, 'screen', :cache => true %>
<%= javascript_include_tag 'libs' %>
<%= javascript_include_tag 'jquery.progressbar' %>
<%= javascript_include_tag 'kaltura_upload' %>
</head>
<body>
  <div class="content">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>