<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
<title>VideoPaperBuilder</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'libs' %>
  <%= javascript_include_tag 'kaltura_upload' %> 
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'wysihat_engine' %>
  <%= javascript_include_tag 'application' %>
  <!--[if IE 6]>
  <script type="text/javascript" src="/javascripts/jq-png-min.js"></script>
  <script type="text/javascript" src="/javascripts/png.js"></script>
  <![endif]-->
</head>  
<body>
<div id="wrapper">
  <div id="main">
    <div id="cover">
      <div id="header">
        <div id="menu">
          <div class="left_curve">
            <div class="right_curve">
              <ul>
                <li><a href="/about/index.html">About VPB</a></li>
                <li class="last"><a href="http://www.concord.org/" title="The Concord Consortium">The&nbsp;Concord&nbsp;Consortium</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo_login">
          <div class="logo"><a href="/" title="VideoPaper Builder&reg;"><img src="/images/logo.gif" alt="VideoPaper Builder&reg;"  /></a></div>
          <% if user_signed_in? %>
            <div class="logout">
              <%= render :partial =>'sessions/login'%>
            </div>          
          <% else %>
            <div class="login">
              <%= render :partial =>'sessions/login'%>
            </div>            
          <% end %>
        </div>
      </div>
      <div id="messages">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "#{name} msg" %>
        <%- end -%>
      </div>
      <div id="body_container">
        <div style="background-color: #FF5555; padding: 5pt">
          On Thursday (Today) Video Paper Builder will be down for maintenance starting starting at 12 pm Eastern time.
        </div>
        <div id="inner_container">
        <% if admin_signed_in? %>  
          <div class="tabs">
            <ul>
              <%= content_tag :li, link_to("<span>Admin Console</span>",admin_console_path) %>
              <%= content_tag :li, link_to("<span>Invite a new user</span>", new_user_invitation_path) %>
              <%= content_tag :li, link_to("<span>Invite a new admin</span>",new_admin_invitation_path) %>
              <%= content_tag :li, link_to("<span>All Video Papers</span>",video_papers_path) %>
              <%= content_tag :li, link_to("<span>Admin Logout</span>",destroy_admin_session_path) %>              
            </ul>
          </div>
        <% elsif user_signed_in? %>
          <div class="tabs">
            <ul>
              <%= content_tag :li, link_to("<span>Authoring</span>", new_video_paper_path),:class=>is_active?("new") || is_active?("edit")%>
              <%= content_tag :li, link_to("<span>My VideoPapers</span>",my_video_papers_path),:class=>( is_active?("my_video_papers") || my_paper?)%>
              <%= content_tag :li, link_to("<span>Shared With Me</span>",shared_video_papers_path),:class=>(is_active?("shared_video_papers") || shared_paper?)%>
            </ul>
          </div>
        <% end %>
        <%= yield%>        
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer_inner">
      <div class="col1">
        <h3>VideoPaper Builder<span class="reg">&reg;</span></h3>
        <ul>
          <li><a href="/" title="VideoPaper Builder&reg;">VPB Home</a></li>
          <li><a href="/about/index.html" title="About VideoPaper Builder&reg;">About VPB</a></li>
          <li><a href="/contact/index.html" title="Contact the Concord Consortium">Contact Us</a></li>
          <li><a href="http://vpb.archive.concord.org/" title="Archive of the Previous VPB Website">Archive Site</a></li>
        </ul>
      </div>
      <div class="col2">
        <h3>The Concord Consortium</h3>
        <ul>
          <li><a href="http://www.concord.org/" title="The Concord Consortium">Home</a></li>
          <li><a href="http://blog.concord.org/" title="The Concord Consortium Blog">Blog</a></li>
          <li><a href="http://www.concord.org/projects/" title="The Concord Consortium's Projects">Our Work</a></li>
          <li><a href="http://www.concord.org/research-publications/" title="The Concord Consortium's Publications">Publications</a></li>
          <li><a href="http://www.concord.org/about" title="About the Concord Consortium">About Us</a></li>
        </ul>
      </div>
      <div id="cc-logo">
        <a href="http://www.concord.org/" title="The Concord Consortium"><img src="/images/cc-logo.png" /></a>
      </div>
    </div>
  </div>
</body>
</html>
