<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
<title>VideoPaperBuilder</title>
<%= stylesheet_link_tag 'layout'%>
<%= stylesheet_link_tag 'facebox', 'wysihat' %>
<%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.1.css'%>
<!--[if IE 6]>
<script  type="text/javascript" src="/javascripts/jq-png-min.js"></script>
<script  type="text/javascript" src="/javascripts/png.js"></script>
<![endif]-->

<% if user_signed_in? %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'facebox', 'wysihat' %>
  <%= javascript_include_tag 'libs' %>
  <%= javascript_include_tag 'kaltura_upload' %> 
  <%= javascript_include_tag 'wysihat_engine' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'fancybox/jquery.mousewheel-3.0.2.pack.js'%>
  <%= javascript_include_tag 'fancybox/jquery.fancybox-1.3.1.js'%>
<% else %>
  <%= javascript_include_tag 'jquery'%>
  <%= javascript_include_tag 'index' %>
  <%= javascript_include_tag 'jquery.cycle.all' %>  
<% end %>
</head>  
<body>
  <%= yield %>
</body>
</html>